<form [formGroup]="user" (ngSubmit)="onSubmit()">

  <div fxLayout="column" fxLayoutGap="5px">
    <div>
      <mat-form-field appearance="outline" style="width: 450px">
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="username" formControlName="username">
        <mat-error>Ihr Username </mat-error>
      </mat-form-field>
      <div id="checkUsernameUnique"></div>
    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 450px">
        <mat-label>Email-Adresse</mat-label>
        <input type="text" matInput placeholder="Email" formControlName="email">
        <mat-error>Ihre Email-Adresse</mat-error>
      </mat-form-field>
      <div id="checkEmailUnique"></div>
    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 450px">
        <mat-label>Nachname</mat-label>
        <input type="text" matInput placeholder="Nachname" formControlName="surname">
        <mat-error>Ihr Nachname</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 450px">
        <mat-label>firstname</mat-label>
        <input type="text" matInput placeholder="Vorname" formControlName="firstname">
        <mat-error>Ihr Vorname</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 450px">
        <mat-label>Kennwort</mat-label>
        <input type="password" matInput placeholder="kennwort" formControlName="pssword">
        <mat-error>Ihr Kennwort</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 450px">
        <mat-label>Beschreibung</mat-label>
        <textarea matInput  formControlName="description" placeholder="Profil Beschreibung"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="10">

            </textarea>
        <mat-error>Ihr Kennwort</mat-error>
      </mat-form-field>
    </div>

    <div fxLayoutAlign="center" fxLayout="row" fxLayoutGap="5px">
      <div>
        <p style="text-align: center;  line-height: 100px;">
          <input type="file" (change)="uploadImage($event)">
        </p>
      </div>
      <div id="hideProfilImage" style="border: 1px solid black; height: 100px; width: 100px">
        <!--<img src= '{{this.userImage.value.image}}' height="100" accept="image/*"> -->
        <img src= '{{this.fileURL}}' height="100" accept="image/*">
      </div>
    </div>

    <div fxLayoutAlign="center">
      <mat-card-actions style="text-align: center">
        <button [disabled]="!user.valid" mat-raised-button color="primary">aktualisieren</button>
      </mat-card-actions>
    </div>
  </div>

</form>

<div id="message" style="text-align: center; margin-top: 20px"></div>
