
/*
.project_view_center{
  border: 1px solid black;
  border-radius: 4px;
  width: 249px;
  height: 200px;
  text-align: center;
  padding: 15px;
  margin-left: 15px;
  margin-top: 7px;
}
 */


.image_view_project{
  border: 1px solid black;
  border-radius: 4px;
  width: 75px;
  height: 75px;
  margin:auto;
}
